* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: #fff;
  font-family: "Poppins", sans-serif;
}
/* nav {
  position: absolute;
  width: 100%;
  display: flex;
  padding: 3rem 10rem;
  justify-content: space-between;
} */

.parralax_wrapper {
  height: 100vh;
}
.parralax_wrapper img {
  width: 100%;
  position: absolute;
  height: 110vh;
  object-fit: cover;
  z-index: -1;
}
.main-title {
  position: absolute;
  top: 30%;
  left: 50%;
  font-size: 6rem;
  transform: translate(-50%, -30%);
}
.girl{
  width: 55%;
}

.content {
  width: 100%;
  background: rgb(24, 24, 24);
  min-height: 100vh;
  z-index: 2;
  position: absolute;
}
.content-images {
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 60vh;
  text-align: center;
}

.text {
  padding: 2rem 20rem;
  font-size: 1.1rem;
}


/* cards-bala branch */
.row {
  width: min(1200px, 80%);
  margin: 0 auto;
}
.cards {
  display: flex;
  flex-wrap: wrap;
  gap: 1em;
}
.card {
  width: 15em;
  aspect-ratio: 1/2;
  background-color: aqua;
}

/* footer from aman */

.footer {
  display: flex;
  flex-flow: row wrap;
  padding: 50px;
  height: 100vh;
  background-image: linear-gradient(hsla(0, 0%, 97%, 0.9), #9b8055);
}
h1 {
  text-align: center;
}

.footer > * {
  flex: 1 100%;
}

.l-footer {
  margin-right: 1.25em;
  margin-bottom: 2em;
}

h2 {
  font-weight: 750;
  font-size: 18.78px;
  color: #1a1913;
}

.footer ul {
  list-style: none;
  padding-left: 0;
}

.footer li {
  line-height: 2em;
}

.footer a {
  text-decoration: none;
}

.r-footer {
  display: flex;
  flex-flow: row wrap;
}

.r-footer > * {
  flex: 1 50%;
  margin-right: 1.25em;
}

.box a {
  color: #523c1a;
}

.h-box {
  column-count: 2;
  column-gap: 1.25em;
}

.b-footer {
  text-align: center;
  color: rgb(7, 5, 5);
  padding-top: 30px;
}

.l-footer p {
  margin: 0;
  padding-right: 15%;
  padding-left: 25%;
  font-size: 25px;
  color: rgb(64, 83, 19);
}

@media screen and (min-width: 600px) {
  .r-footer > * {
    flex: 1;
  }

  .r-footer address {
    text-align: left;
    color: #523c1a;
  }
  footer img {
    padding-top: 30px;
    padding-left: 30px;
  }
  footer h1 {
    text-align: left;
  }

  .l-footer {
    flex: 1 0px;
  }
  .l-footer p {
    padding-left: 0;
    color: rgb(64, 83, 19);
  }
  .r-footer li,
  footer h2 {
    padding-left: 20px;
  }
  .r-footer {
    flex: 2 0px;
  }
}
